.odd {
    background-color: rgb(243, 188, 193);
    font-family: Verdana, "DejaVu Sans", sans-serif;
    font-size: 30px;
}

.larger {
    font-size: 50px;
}

#blueid {
    font-size: 70px;
    color: blue;
}

#greenbg {
    font-weight: bold;
    background-color: rgb(118, 229, 118);
    font-size: 50px;
}
